

.register-form{
    position: fixed;
    top: 55%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 99; 
    background-color: #fff;
    padding: 3rem 2rem;
    border-radius: 10px;
    max-height: 500px;
    width: 30%;
    box-shadow: 0 0 1px rgba(0,0,0,.12);
}




.register .overlay {        
    position: fixed; 
    top:  0; 
    bottom: 0 ; 
    /* background-color: #000;
    opacity: .1; */

    background-color: rgba(0, 0, 0, 0.5); /* set background color and opacity */
    backdrop-filter: blur(5px); 

    width: 100%; 
    height: 100%; 
    z-index: 99; 
}



.register-form .form-group  { 
    width: 100%;
    /* margin: 1.4rem 0 ; */
}


.register-form  .radio-row .form-group { 
    display: flex;
    align-items: center;
}


.register-form .buttons { 
    width: 100%;
    padding-top: 2rem; 
    text-align: center;
}

.register-form .buttons button { 
    padding: .7rem 2rem;
    background-color: var(--black);
    font-size: 17px;
    border: 1px solid var(--black);transition: .4s;
    border-radius: 3px;
}

.register-form .buttons button:hover { 
    background-color: transparent;
    color: var(--black);
}


.error.alert-danger{ 
    background-color: red;
    padding: 1rem; 
}


.error.alert-danger { 
    color: var(--pure);
}


/* ----------------------- */


.register-form {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    max-width: 100%;
    box-sizing: border-box;
}

.register-form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.register-form input {
    width: calc(100%);
    padding: 1rem .8rem;
    margin-bottom: 10px;
    /* border: 1px solid #ccc; */
    /* border: 1px solid #c2c2c2; */
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.register-form input:focus {
    outline: none;
    border: 1px solid #01cd9d;
}

.register-form div {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.register-form div input {
    width: 49%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.register-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #171717;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.register-form p {
    padding: 1rem 0;
    font-size: .9rem;
    font-weight: 300;
}

.register-form p a {
    color: #01cd9d;
}

.register-form button:hover {
    background-color: #FC6A03;
}

/* input:required:valid {
    border-color: green;
} */

/* input.invalid {
    border-color: red
} */

@media (max-width: 450px) {
    .register-form {
        width: 85%;
    }
}
