@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

.right { 
  overflow: hidden; 
}

*{
  margin: 0;    
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Exo 2', sans-serif;
}

:root{

  --black: #171717; 
  --darkBlack: #000;
  --primary: #fff;
  --sGray: #D4D4D4; 
 --red: #DE2828; 
 --green: #01CD9D;   
  --pure: #FFFFFF; 
  --pink: #f56900; 
}

body{ 
  /* overflow-x: hidden; */
}

li{
  list-style: none;
}

a{
  text-decoration:  none;
}

.container{
  width: 90%; 
  margin: 0 auto; 
}


/* utility classes */

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between{ 
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center{
  text-align: center;
}


/* --------------- buttons  ------------- */
.btn {
    border: none; 
    padding: .4rem 1rem; 
    color: #fff; 
    cursor: pointer;
}

.btn-primary{
  background-color: var(--red);
  border: 1px solid var(--red); 
  transition: .5s;
  color: var(--pure);
}



.btn-primary:hover{
  background-color: transparent;
  border: 1px solid var(--red);
  color: var(--red); 
}

.btn-primary-circular{
  background-color: var(--primary);
  border-radius: 20px;
  color: var(--dark);
  font-weight: bold;
}

.btn-primary-outline {
  border: 1px solid var(--red); 
  background-color: transparent;
  color: var(--red);
  transition: .5s;
}

.btn-primary-outline:hover{
  color: var(--pure); 
  background-color: var(--red);
}


.btn-white-outline {
  /* color:#000;  */
  color: var(--primary) !important; 
  background: transparent;
  /* border: 1px solid #000; */
  border: 1px solid var(--primary);
  border-radius: 20px; ;
  transition: .5s;
  font-weight: bold;
}

.btn-white-outline:hover{
  /* background-color: #000; ; */
  border: 1px solid var(--primary);

  font-weight: bold;
}


.with-underline { 
  position: relative;
  margin-bottom: 28px;
}

/* .with-underline::after { 
  content: "";
    position: absolute;
    left: 0;  
    bottom: -12px; 
    display: flex;
    width: 70%;
    background-color: #fff; ;
    height: 2px; 
    left: 50%; 
    margin-top: .4rem;
    transform: translateX(-50%);
} */