/* --------------  Primary Menu ------------------ */
header { 
    position: relative;
}



.primary{
    width: 100%;
    padding: .8rem 0 ; 
    background-color: var(--black) !important;    
    transition: all .2s ease-in-out;
}   

.primary .left .own-sub-logo img {
    width: 40px; 
}

.primary .left {
    flex: 0  0 40% !important; 
}

.primary .right {
    flex: 0 0 60% !important; 
    /* background-color: red; */
    display: flex;
    justify-content: flex-end !important;
}

.primary .right .nav-links { 
    display: flex;
    margin-right: 3rem; 
}

.primary .right .nav-links li a{ 
    color: var(--primary); 
    margin-left: 2rem; 
}


.primary div:first-child p{
    color: var(--pure);
    margin-bottom: .3rem;
}

.primary div:last-child {
    margin-left: 2rem; 
}


.own-sub-logo{
    margin-left: 2rem;  
}

.primary .app-btn button {
    padding-left: 2rem ;
    padding-right: 2rem;
    /* background-color: #01CD9D !important; */
    background-color: #FC6A03 !important;
    color: white;
    /* font-weight: 300; */
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.primary .app-btn button:first-child {
    padding: .6rem 3rem;
    margin-right: 1rem;
    background-color: white !important;
    color: black;
}

.primary .buy-btn button{
    margin-left: 1rem ;
    padding: .5rem 1.5rem; ;
    background: gray;

}   


/*  */
.primary .container { 
 margin: 0 auto !important; 
padding: .7rem 0 ; 
 justify-content: space-between;

}   

.primary i.bars-icon {
    position: absolute;
    right: 40px; 
    top: 50%; 
    transform: translateY(-50%);
    color: #fff; 
    display: none;
    cursor: pointer;
}

.primary .container{ 
    margin: 0 auto; 
}

.primary .container .right.active { 
    display: block;
    background-color: #000 !important;  
    width: 300px; 
    padding: 1rem 1rem; 
    position: absolute; 
    top: 120%; 
    right:0;
}

.primary .container .right.active { 
    flex-direction: column;
    align-items: center;
}

.primary .container .right .avatar { 
    color: #fff;
    cursor: pointer;
}
    
/* ------------------------login-dropdown-menu--------------------- */
.right  { 
    position: relative !important;
}

.right .avatar i:hover{ 
    color:#FC6A03; 
}

.avatar ul { 
    /* background-color: var(--pure); */
    background-color: #f2f2f2;
    color: black;
    text-align: left;
    position: absolute;
    top: 56px;
    z-index: 99;
    width: 150px;
    padding: .5rem .5rem .5rem 1rem;;
    right: -48px;
    /* padding: .5rem; */
    border-radius: 4px;
    display: none;
}

.avatar ul h4 {
    font-size: 14px;
    margin-bottom: .3rem;;
    border-bottom: 1px solid black;
}

.avatar ul.active { 
    display: block;
}

.avatar ul button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-top: .4rem;
    font-weight: 300;
}

.avatar ul li:first-child {
    border-bottom: 1px solid black;
}

/* ----------------------------- Media Querries -------------------------- */
@media (max-width: 1150px){
    .primary  i.bars-icon { 
        display: block;
    }

    .primary .container .right {
        display: none;
    }

    .primary .container .right .login-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5rem;
    }
    
    .primary .container .right .login-dropdown .avatar {
        color: white;
    }

    .primary .container .right .login-dropdown .avatar i {
        color: white;
    }

    .primary .container .right .login-dropdown .avatar ul {
        margin-right: 3.5rem;
    }

}